.uploader__input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  cursor: pointer;
}

.uploader__icon {
  position: relative;
  margin-left: 2px;
  margin-right: 2px;
  cursor: pointer;
}

.uploader__input.fetching {
  cursor: wait;
}

.uploader__icon.fetching {
  opacity: 0.5;
}
